<div class="wrapper" *ngIf="item">
  <div class="detailed-image">
    <img src="{{ item.snippet.thumbnails.standard.url }}" alt="" />
  </div>
  <div ytaColoring [publishedAt]="item.snippet.publishedAt" class="detailed-description">
    <h2 class="descripti0n-title">{{ item.snippet.title }}</h2>
    <div class="description-published-at">{{ item.snippet.publishedAt | date }}</div>
    <div class="description-text">{{ item.snippet.description }}</div>
    <yta-statistic-block [card]="item"></yta-statistic-block>
  </div>
</div>
