<mat-card class="auth-block">
  <mat-card-header>
    <mat-card-title>LogIn</mat-card-title>
  </mat-card-header>
  <form [formGroup]="login" class="form" novalidate (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>email</mat-label>
      <input matInput placeholder="sample@email.ru" formControlName="email" required />
      <mat-error *ngIf="">{{ getErrorEmailMessage() }}</mat-error>
      <!-- <mat-error *ngIf="">{{ getErrorEmailMessage() }}</mat-error>
      <mat-error *ngIf="">{{ getErrorEmailMessage() }}</mat-error>
      <mat-error *ngIf="">{{ getErrorEmailMessage() }}</mat-error> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="canVisiblePassword ? 'password' : 'text'"
        placeholder="enter your password"
        formControlName="password"
      />
      <button type="button" mat-icon-button matSuffix (click)="showPassword()">
        <mat-icon>{{ visibleIcon }}</mat-icon>
      </button>
      <mat-error>{{ getErrorPasswordMessage() }}</mat-error>
    </mat-form-field>
    <div class="login-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="!login.valid">Login</button>
    </div>
  </form>
</mat-card>
