<div class="header-wrapper">
  <div class="header">
    <div class="logo"><a class="to-main-page" routerLink="./"> </a></div>
    <input type="text" id="searchText" placeholder="enter search query" required />
    <yta-button routerLink="/youtube" (click)="showCards()">Seearch!</yta-button>
    <yta-button (click)="toggleSettingsVisibility()">Settings</yta-button>
    <yta-button class="login-button">
      <span></span>
      <a routerLink="/auth">LogIn</a>
    </yta-button>
  </div>
  <yta-filter-block *ngIf="isShownSettings"></yta-filter-block>
</div>
