.header {
  display: flex;
  flex-wrap: nowrap;
  height: 10%;
  @media screen and (max-width: 400px) {
      height: 15%;
    }
}

.theme-attr {
  display: inline-block;
  font-size: 0.8em;
  padding: 0 5px;
}

.header-link {
  color: white;
  text-decoration: none;
  &:hover {
    color: #db7ca2;
  }
}

.buttons {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}
