<mat-card class="create-card-block">
  <mat-card-header class="card-header">
    <mat-card-title>Create new card</mat-card-title>
  </mat-card-header>
  <form [formGroup]="createCard" class="form" novalidate>
    <mat-form-field *ngFor="let field of arrayFields; trackBy: trackByIndex" appearance="outline">
      <mat-label>{{ field.label }}</mat-label>
      <input type="{{ field.type }}" matInput formControlName="{{ field.label }}" required="{{ field.requiered }}" />
      <mat-error>{{ field.errorMessage() }}</mat-error>
    </mat-form-field>
    <div class="buttons-block">
      <button mat-raised-button color="primary" type="submit" [disabled]="!createCard.valid">Create</button>
      <yta-button (click)="resetForm()">Reset</yta-button>
    </div>
  </form>
</mat-card>
