<mat-card>
  <mat-card-header
    ><mat-card-title>{{ title }}</mat-card-title></mat-card-header
  >
  <div>{{ publishedAt }}</div>
  <img mat-card-lg-image src="{{ image }}" alt="" />
  <div class="statistics">
    <div>
      <mat-icon
        aria-hidden="false"
        aria-label="Example visibility icon"
        fontIcon="visibility"
        color="primary"
      ></mat-icon>
      <span>{{ statistics.viewCount }}</span>
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="Example thumb_up icon" fontIcon="thumb_up" color="warn"></mat-icon>
      <span>{{ statistics.likeCount }}</span>
    </div>
    <div>
      <mat-icon
        aria-hidden="false"
        aria-label="Example thumb_down icon"
        fontIcon="thumb_down"
        color="accent"
      ></mat-icon>
      <span>{{ statistics.dislikeCount }}</span>
    </div>
    <div>
      <mat-icon aria-hidden="false" aria-label="Example forum icon" fontIcon="forum"></mat-icon>
      <span>{{ statistics.commentCount }}</span>
    </div>
  </div>
  <yta-button>More...</yta-button>
  <mat-card-footer></mat-card-footer>
</mat-card>
