<mat-card *ngIf="profileParam$ | async as profileParam" class="profile-block">
  <mat-card-header class="profile-header">
    <mat-card-title>Profile Information</mat-card-title>
    <button mat-raised-button color="primary" type="button" [disabled]="isDisabled$ | async" (click)="logout()">
      LogOut
    </button>
  </mat-card-header>
  <ng-template #nameBlock>
    <form [formGroup]="profile" class="form" novalidate *ngIf="canRedact; else nameBlock" (ngSubmit)="updateProfile()">
      <mat-form-field appearance="outline">
        <mat-label>{{ profileParam.name.S }}</mat-label>
        <input matInput formControlName="name" required [placeholder]="profileParam.name.S" />
        <mat-error *ngIf="profile.controls.name.touched && profile.controls.name.hasError('required')"
          >Please enter your name</mat-error
        >
        <mat-error *ngIf="profile.controls.name.hasError('name')"> Allows only letters or spaces</mat-error>
      </mat-form-field>
      <div class="edit-buttons">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="button"
          [disabled]="!profile.valid || (isDisabled$ | async)"
        >
          Save
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          class="button"
          (click)="toggleRedact()"
          [disabled]="isDisabled$ | async"
        >
          Cancel
        </button>
      </div>
    </form>
  </ng-template>

  <div class="profile">
    <div class="profile-field">
      <div class="field-title">name</div>
      <div class="field-value" *ngIf="!canRedact; else nameBlock">{{ profileParam.name.S }}</div>
    </div>
    <div class="profile-field">
      <div class="field-title">email</div>
      <div class="field-value">{{ profileParam.email.S }}</div>
    </div>
    <div class="profile-field">
      <div class="field-title">id</div>
      <div class="field-value">{{ profileParam.uid.S }}</div>
    </div>
    <div class="profile-field">
      <div class="field-title">date create</div>
      <div class="field-value">{{ profileParam.createdAt.S | date: 'medium' }}</div>
    </div>
  </div>
  <div class="edit-button">
    <button mat-raised-button color="primary" type="button" *ngIf="!canRedact" (click)="toggleRedact()">Edit</button>
  </div>
</mat-card>
