<div class="buttons">
  <button mat-raised-button color="primary" type="submit" (click)="update()" [disabled]="isLoad$ | async">
    Update {{ timer$ | async }}
  </button>
  <button mat-raised-button color="primary" type="button" (click)="openModal()">Create</button>
</div>
<div *ngIf="groups$ | async as groups">
  <ul *ngFor="let group of groups; trackBy: trackByIndex">
    <li class="group-item">
      <a>{{ group.name.S }}</a>
      <button *ngIf="owner === group.createdBy.S" type="button" (click)="deleteGroup(group.id.S)">x</button>
    </li>
  </ul>
</div>
