<mat-card ytaColoring [publishedAt]="card.snippet.publishedAt" class="card">
  <mat-card-header>
    <mat-card-title>{{ card.snippet.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-lg-image src="{{ card.snippet.thumbnails.medium.url }}" alt="" />
  <yta-statistic-block [card]="card"></yta-statistic-block>
  <div class="card_buttons">
    <yta-button [title]="card.snippet.title" [routerLink]="['/youtube/cards', card.id]"> More... </yta-button>
    <button
      *ngIf="!isCustomCard; else elseBlock"
      mat-icon-button
      color="primary"
      aria-label="favorite"
      (click)="toggleFavorite()"
    >
      <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>
  </div>
  <ng-template #elseBlock>
    <button type="button" mat-raised-button color="warn">Delete</button>
  </ng-template>
</mat-card>
